<!--<link href="static/css/signin.css" rel="stylesheet">-->
<div id="comment", class="container">
	{% for comment in comments %}
	<p>{{ comment.comment }}</p>
	{% else %}
	<p><em>No comments available</em></p>
	{% endfor %}
    <div class="form-group form-group-sm">
      <form class="form-comment" action="" method=post>
        <textarea id="new_comment" name="new_comment" class="form-control" placeholder="Comment" required autofocus></textarea>
        <p>
        <div class="checkbox">
         <label>
            <input type="checkbox" value="vacant"> Vacant?
          </label>
        </div>
        </p>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div> 
</div>