{% extends "base.html" %}
{% block content %}
   <style>
	body {
	   padding: 0;
           margin: 0;
	   }
	html, body, #map {
    	   height: 100%;
         padding-top: 25px;
	   }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
   </style>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="//rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.css" />
      <!--[if lt IE 9]>
        <link rel="stylesheet" href="//rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.ie.min.css"/>
      <![endif]-->

      <script src="//rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.js" ></script>
      
      <div id="map" ></div>
      
      <script>
     // Initialize map 
      var map = L.map('map').setView([41.89165, -87.74679],16);
      

      var mapLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: '&copy; <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 19,
		    minZoom: 9,
		    id: 'chrishaid.fa5d94b1',
		    accessToken: 'pk.eyJ1IjoiY2hyaXNoYWlkIiwiYSI6Im9VNHc0YmMifQ.PTeQDx8kEMuoyTyRqNWlnQ'
      });           
	
      //map.locate({setView: true, maxZoom:17});
	
      map.addLayer(mapLayer);
      L.control.locate({
        follow: true,
        icon: 'fa fa-location-arrow',  // class for icon, fa-location-arrow or fa-map-marker
        locateOptions: {
               maxZoom: 18
             }
        }).addTo(map);



  
	var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "id": "{{ obj.id}}",
                    "first_name": "{{ obj.first_name}}",
		                "last_name": "{{ obj.last_name}} ",
                    "address": "{{ obj.address }}",
                    "type": "{{ obj.type }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.long }}, {{ obj.lat}}]
                  }
                } {% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
  var dataLayer = L.geoJson(data, {
    style: function(feature) {
      switch (feature.properties.type) {
        case 'KIPPster': return {color: "#439539"};
        case 'Alumni':   return {color: "#bcd631"};
        case 'Postcard': return {color: "#60a2d7"};
      }
		},
		pointToLayer: function(feature, latlng){
		     return new L.CircleMarker(latlng, {radius: 8, fillOpacity: 0.85});
		},
		onEachFeature: function(feature, layer) {
      layer.on({
        click: highlightFeature
      });
    }
  });

  map.addLayer(dataLayer);

  var lastClickedLayer;  // needs to be global so that it can be tracked out side of scope fo highlightFeature
  
  function highlightFeature(e) {
                  
            if(lastClickedLayer){
              dataLayer.resetStyle(lastClickedLayer);
            } 

            var layer = e.target;
            
            layer.setStyle({
              color: "red"
            });

            info.update(layer.feature.properties);

           lastClickedLayer = layer;
          }

var info = L.control();
  
  info.setPosition("bottomleft");

  info.onAdd =  function(map) {
    this._div = L.DomUtil.create('div', 'info'); // create div with class info
    this.update();
    return this._div
  }

  info.update = function(props) { 
    this._div.innerHTML = (props ? 'Name: <b>' +
      props.first_name + ' ' + props.last_name + '</b>' +
      '<br>Addr: ' +  props.address +
      '<br>Type: ' +  props.type +
      '<br>ID: ' + props.id  +
      '<br><object type="text/html" data="/comments/'+props.id+'" ></object>'
      : 'Click markers for info.')
      ; 
  }

  

  info.addTo(map)


        </script>
{% endblock %}
