<!doctype html>
<html lang="en">
    <head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    </head>
    <body>
     
      <div id="map" style="height:500px, width:500px;"></div>
      
      <script>
     // Initialize map 
      var map = L.map('map').setView([41.84, -87.68],13);
      
      var mapLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
		maxZoom: 18,
		minZoom: 9
		});           
	
	map.addLayer(mapLayer);
        
	var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "first_name": "{{ obj.first}}",
		    "last_name": "{{ obj.last}} ",
                    "address": "{{ obj.address }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.lat }}, {{ obj.long }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
            var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
			    feature.properties.address 
                    );
                }
            });
//           map.addLayer(data);
        </script>
    </body>
</html>
